<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Welcome {{ author.nickname }}!</h2>

    <a href='/test'>Create Article</a>

    <table>
        <TR>
           <TD class="c1"><a>TITLE</a></TD>
           <TD class="c2">AUTHOR</TD>
        </TR>
        {% for article in articles %}
            <TR>
               <TD class="c1"><a href="{{ url_for('article', id=article['Article'].id) }}">{{article['Article'].title}}</a></TD>
               <TD class="c2">{{article['Author'].nickname}}</TD>
            </TR>
        {% endfor %}
    </table>

    <li><a href="/logout">Logout</a></li>
    <hr>
    <footer style="text-align: right">created for AŻUR training purposes</footer>
</body>
</html>

